.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #081018;

  h2 {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: white;
        padding: 8px 12px;
        display: block;
        border-radius: 4px;
        transition: background 0.2s;

        &:hover {
          background-color: #007bff;
        }

        &.active {
          background-color: #007bff;
          color: white;
        }
      }
    }
  }
}
